<?xml version="1.0"?>
<launch>
   <!-- launch video stream -->
   <include file="$(find video_stream_opencv)/launch/camera.launch" >
        <arg name="video_stream_provider" value="/root/catkin_ws/src/avatar/sample/sample.mov" />
	<arg name="camera_info_url" value="file:///root/catkin_ws/src/avatar/sample/camera.yaml" />
        <arg name="loop_videofile" value="false" />
        <arg name="visualize" value="true" />
   </include>
</launch>
